@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bg-img {
  background-size: cover;
  background-position: right 17% center;
  background-repeat: no-repeat;
}

button {
  border-radius: 0;
  background-color: transparent;
  border-color: oklch(62.3% 0.214 259.815);
}

button:hover {
  background-color: oklch(62.3% 0.214 259.815);
  border-color: white;
}